{
	"$schema": "node_modules/wrangler/config-schema.json",
	"name": "clash-sub",
	"main": "src/index.js",
	"compatibility_date": "2025-08-01",
	"assets": {
		"directory": "public",
		"binding": "ASSETS"
	},
	"kv_namespaces": [
		{
			"binding": "CLASH_KV",
			"id": "你的KV命名空间ID"
		}
	]
}